* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  .content-detail{
    margin-top: 100px;
    margin-bottom: 50px;
    
}

.content-detail img{
  width: auto;
  height: 500px;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
}

.topics {
  margin-top: 80px;
  border: 2px solid #ffffff;
  text-decoration: none;
  padding: 8px 7px;
  border-radius: 15px;
  color: white;
  background-color: #fd5e53;
  font-size: 12px;
}
.topics:hover {
  background-color: #ffffff;
  color: #fd5e53;
  border: 2px solid #fd5e53;
}

.text-content{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.text-content h4{
  margin-top: 10px;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .content-detail img{
    width: 440px !important;
    height: 250px;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 20px;
    float: left;
    
  }
  
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  .content-detail img{
    width: 530px !important;
    height: 350px;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 20px;
    float: left;
    
  }
  
}

@media screen and (min-width: 701px) and (max-width: 820px) {
  .content-detail img{
    width: 700px !important;
    height: 350px;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 20px;
    float: left;
    
  }
  
}